.text-editor-toolbar{
    display: flex;
    flex-direction: row;
}

.text-editor-container {
    border: 2px solid black;
    width: fit-content;
    overflow: hidden;
}

.save-button{
    width: 100%
}

#custom-div{
    height: fit-content;
    width: fit-content;
    border: 1px solid black;
}
