.text-editor-container {
    border: 2px solid white;
    overflow: hidden;
    width: 100%;
    border-radius: 1em;
    height: fit-content;
    margin-top: 2em;
    margin-bottom: 2em;
}

.text-editor-controls {
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: .5em;
    padding-bottom: .5em;
}

.text-editor-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

.editor-footer {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, .2);
}


.save-note-button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border-radius: 2em;
    width: fit-content;
    padding-left: .5em;
    padding-right: .5em;
    margin: 5px;
}


#custom-div {
    height: fit-content;
    width: fit-content;
}


.toolbar-button {
    display: flex;
    flex-direction: row;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    border: none;
}

.toolbar-button:hover {
    background-color: white;
    color: black;
}

.toolbar-button:active {
    background-color: rgba(205, 205, 205, 0.5);
    transform: translateY(0.5px) translateX(0.5px);
}


.format-button {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 35px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    border: none;
}

.format-button:hover {
    background-color: white;
    color: black;
}

.format-button:active {
    background-color: rgba(205, 205, 205, 0.5);
    transform: translateY(0.5px) translateX(0.5px);
}




.text-editor {
    background-color: antiquewhite;
    width: 100%;
    height: 250px;
    resize: both;
    overflow-y: scroll;
}

.text-editor::-webkit-scrollbar {
    width: 0.5em;
}

.text-editor::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    border: 1px solid #fff;
}

.text-editor::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.text-editor::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

#notebook-select {
    max-width: 200px;
    min-width:100px;
    border: 2px solid white;
    border-radius: 2em;
    text-align: center;
    color: white;
    font-weight: bold;
    height: 1.7em;
}

#editor-note-name {
    border: 2px solid white;
    text-align: center;
    color: white;
    font-weight: bold;
    width: fit-content;
}


.editor-button {
    color: white;
    border: 2px solid white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editor-color-container:hover {
    border: 2px solid lightgray;
    color: lightgray;
}
.editor-button:hover {
    border: 2px solid lightgray;
    color: lightgray;
}

.circle-button {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.reset-button {
    border-radius: 2em;
    padding-left: 1em;
    padding-right: 1em;

}


.editor-color-container {
    border: 2px solid white;
    border-radius: 50%;
    overflow: hidden;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.editor-color-button {
    flex: none;
    border: none;
    height: 100px;
    width: 100px;
    cursor: pointer;
}


.editor-form-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
}
