.side-panel-container {
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 15%;
    align-items: center;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    color:white;
}

.tabs-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    width: fit-content;
    height: 90%;
    padding: 1em;
    gap: 1em;
}

.tabs-container::-webkit-scrollbar {
    width: 0.5em;
}

.tabs-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    border: 1px solid #fff;
}

.tabs-container::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.tabs-container::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

.panel-tab {
    height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: none;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: white;
    border-radius: 1em;
    border: 2px solid white;
}

.panel-tab:hover {
    border: 2px solid slategray;
}
