.post-reactions-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reaction-button-container {
    display: flex;
    flex-direction: column;
}

.add-reaction-button{
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

.reaction-button{
  font-size: 1.2em;
}
