.notebooks-component-container {
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    flex-flow: row nowrap;
    border: 2px solid black;
}

.notebooks-component-wrapper  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
}

.notebook-header {
    background-color: white;
    display: flex;
    justify-content: center;
    border: 4px solid white;
    padding: 1em;
    border-radius: 1em;
    margin-top: 1em;
    color: white;

}

.side-panel-container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.tabs-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    width: fit-content;
    height: 90%;
    padding: 1em;
    gap: .5em;
}

.tabs-container::-webkit-scrollbar {
    width: 0.5em;
}

.tabs-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    border: 1px solid #fff;
}

.tabs-container::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.tabs-container::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

.notebook-tab {
    height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: none;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: white;
    border: 3px solid white;
    border-radius: 1em;
}

.notebook-tab:hover {
    border: 3px solid white;

}

.text-notebook-display {
    overflow-y: scroll;
    height: 90%;
    width: 60%;
    align-self:flex-start;
    border-left: 6px solid white;
    border-right: 6px solid white;
    border-bottom: 6px solid white;
    margin-left: 150px;
    padding-bottom : 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.text-notebook-display::-webkit-scrollbar {
    width: 0.5em;
}

.text-notebook-display::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    border: 1px solid #fff;
}

.text-notebook-display::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.text-notebook-display::-webkit-scrollbar-track-piece:end {
    background: transparent;
}


.add-notebook-container {
    width: 100%;
}

.add-notebook-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    color: white;
    text-align: center;
    border-radius: 2em;
    height: 2.2em;
    border: 2px solid white;
}

.notebook-header-title {
    cursor: pointer;
}
/* .component-instructions {
    padding:0px;
    margin:0px;
}

.notebook-header{
        padding: 0px;
            margin: 0px;

} */
