.notebooks-component-container {
    background-color: rgba(255,255,255, .5);
    display: flex;
    flex-flow: row nowrap;
}

.side-panel-container {
    height: 700px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
}

.tabs-container {
    box-sizing: border-box;;
    display: flex;
    flex-direction:column;
    justify-content: center;
    overflow-y:scroll;
    gap: 2em;
    width: 100%;
    border: 1px solid black;

}

.notebook-tab {
    height:25px;
    cursor: pointer;
    flex: none;
    margin-left: 1em;
    margin-right: 1em;
}

.text-notebook-display {
    overflow-y:scroll;
}

.add-notebook-form {
    border-radius: 10px;
    margin-left: 1em;
    margin-right: 1em;
    height: 2em;
}
.add-notebook-container {
    width: 100%;
}

/* .component-instructions {
    padding:0px;
    margin:0px;
}

.notebook-header{
        padding: 0px;
            margin: 0px;

} */
