.delete-notebook-button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border-radius: 2em;
    width: fit-content;
    padding-left: .5em;
    padding-right: .5em;
    margin: 5px;
}

.delete-text-note-button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border-radius: 2em;
    width: fit-content;
    padding-left: .5em;
    padding-right: .5em;
    margin: 5px;
}

.delete-text-note-button:hover {
    border: 2px solid lightgray;
    color: lightgray;
}


.delete-notebook-button:hover {
    border: 2px solid lightgray;
    color: lightgray;
}
