.comments-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 1em 0;
  width: 100%;
}

.comment-form-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}
