.text-note-card-container {
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 1em;
    overflow: hidden;
}

.text-note-body {
    padding: 1em;
    height: fit-content;
    min-height: 2em;
    max-height: 300px;
    overflow-y: scroll;
    cursor: pointer;
}

.text-note-body::-webkit-scrollbar {
    width: 0.5em;
}

.text-note-body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    border: 1px solid #fff;
}

.text-note-body::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.text-note-body::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

.note-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 100%;
}

.note-name {
    border: 2px solid white;
    height: fit-content;
    width: fit-content;
    min-width: 200px;
    max-width: 80%;
    padding: .25em;
    border-radius: 2em;
    cursor: pointer;
    color: white;
    text-align: center;
}

.note-name:hover {
    border: 2px solid lightgray;
    color: lightgray;
}

.text-note-footer {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, .2);
}
