.mini-profile-container {
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.user-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  border-bottom: 3px solid white;
  width: 100%;
  text-align: center;
}

.avatar-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-pic-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*=======================================================================
 *           ______ __        ______    __  __      __  __      ___   ___
 *     /\ |   ||__ |__)|\ | /\ ||__    /  `/  \|\/||__)/  \|\ ||__ |\ ||
 *    /~~\|___||___|  \| \|/~~\||___   \__,\__/|  ||   \__/| \||___| \||
 *
 *                       _____       ___ __
 *                      /__`|\ /|   |__ /__`
 *                      .__/| | |___|___.__/
======================================================================= */

.feed-avatar-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 1em;
}

.feed-mini-profile-container {
  padding-top: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  text-align: center;
}

.post-profile-info-container {
display: flex;
flex-direction: column;
}

/* .avatar-pic-container {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
} */

/* .avatar-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
