.mini-profile-container,
.feed-mini-profile-container {
  padding-top: 0.5em;
  display: flex;
  width: 100%;
  text-align: center;
}

.mini-profile-container {
  flex-direction: column;
  align-items: center;
}

.feed-mini-profile-container {
  flex-direction: row;
  padding-bottom: 5px;
  margin-bottom: 1em;
  border-bottom: 2px solid darkslateGrey;
  color: white;
}

.user-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  width: 100%;
  text-align: center;
}

.avatar-pic-container,
.feed-avatar-pic-container {
  border: 2px solid white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-avatar-pic-container {
  margin-bottom: 2px;
}

.avatar-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feed-mini-profile-container .mini-name-pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.post-profile-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  color: black;
}

.mini-post-sub-info {
  display: flex;
  gap: 1em;
  padding-bottom: 1.8em;
}

.post-profile-time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.mini-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
